.header {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 10%; /* Definindo a altura do cabeçalho */
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    background-color: rgb(204, 221, 238);
    z-index: 1000; /* Manter o cabeçalho acima de outros elementos */
    font-family: "Teko", sans-serif;
    font-size: 200%;
    font-optical-sizing: auto;
    font-style: normal;
    /* border-color: black;
    border-style: dashed; */
}
.imagem-header{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    width: 5%;
    height: 2%;
    margin-top: 3%;
    

}
.header h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25%; /* Removendo a margem padrão do título */
}

.container {
    display: flex;
    flex-direction: column; /* Certifica-se de que o conteúdo flua verticalmente */
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    width: 100%; 
    padding-top: 2%; 
}

.title-section {
    display: flex;
    background-color: rgb(204, 221, 238);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    align-items: center;
    width: 20%;
    height: 20vh;
    border-radius: 3%;
    padding: 1%;  /*Adiciona espaçamento interno */
}

.input-user, .input-pass{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 20%;
    margin-left:0%;
    width: 205%;
    padding: 5%;
}
.input-pass{
    margin-bottom: 10%;
}

.Flex-container{
    display: flex;
    justify-content: space-between; 
    width: 200%;
    padding: 8%;
    margin-left: 0%;
    /* border-color: black;
    border-style: dashed; */
}

.EsqueciSenha, .Login-BTN{
    font-family: "Teko", sans-serif;
    font-size: medium;
    flex-direction: row;
    width: 40%;
    margin: 5%;
    margin-top: 0%;
    padding: 3%;
}

.EsqueciSenha{
    font-size: 90%;
    font-weight: bold;
    color:white;
    background-color: rgb(255, 50, 50);
    border: none;
    border-radius: 4%;
}
.EsqueciSenha:hover{
    cursor: pointer;
    background-color: rgb(232, 11, 66);
}

.Login-BTN{
    font-weight: bold;
    color:white;
    background-color: rgb(1, 140, 22);
    border: none;
    border-radius: 4%;
}
.Login-BTN:hover{
    cursor: pointer;
    background-color: rgb(10, 180, 22);
}

body{
    background-color: whitesmoke;
}