<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventário de Amostras</title>
    <link rel="shortcut icon" href="../../../icon/Logo estoque/Cardboard_box_with_packaging_signs_3D_icon-removebg-preview.png" type="image/x-icon">
    <link rel="stylesheet" href="Esqueci_a_Senha.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <h1>Esqueci Minha Senha</h1>
    </header>
    <main class="container">
        <section class="title-section">
            <div class="login-box">
                <input class="input-user" type="text" placeholder="Insira seu usuário">
                <!-- <input class="input-pass" type="password" placeholder="Senha"> -->
                    <div class="Flex-container">
                        <button id="CancelarID" class="Cancelar" >Cancelar</button>
                        <button id="Prosseguir" class="ConfirmarBTN" >Prosseguir</button>
                    </div>
            </div>
        </section>
    </main>
    <main class="container_confirmar_email">
        <section class="title-section_confirmar_email">
            <div class="_confirmar_email">
                <p class="txtValidacao">Seu email é: Criar função para puxar email/user</p>
                <input class="input-email" type="email" placeholder="Confirme seu Email">
                <!-- <input class="input-pass" type="password" placeholder="Senha"> -->
                    <div class="Flex-container_confirmar_email">
                        <button id="CancelarID" class="Cancelar" >Cancelar</button>
                        <button id="Confirmar" class="ConfirmarEmailBTN" >Confirmar</button>
                    </div>
            </div>
        </section>
    </main>
    
</body>